{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {% trans 'Change Password' %}{% endblock %}

{% block content %}
  <div class="col-md-6 col-md-offset-3 well">
    <h1>{% trans 'Change Password' %}</h1>

    <p>{% trans 'For security reasons, please enter your old password and your new one twice to avoid typographical errors.' %}</p>

    <form action="" method="post">
      {% csrf_token %}

      {{ form|crispy }}

      <p>
        <input type="submit" class="btn btn-success" value="{% trans 'Change my Password!' %}" />
      </p>
    </form>
  </div>
</div>
{% endblock %}
