{% extends 'panorama/base_widget.html' %}
{% load i18n %}
  {% block widget_content %}
  <div class="widget-content collapse in"
       id="widgetcontent-{{ object.WIDGET_CLASS }}-{{ object.pk }}">
    {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#entry-{{ object.pk }}-{{ entry.pk }}">
              {% if entry.is_new %}
              <span class="label label-success removing-id-{{ entry.pk }}">{% trans 'New' %}</span>
              {% endif %} {{ entry.title }}
            </a>
        </h4>
      </div>
      <div id="entry-{{ object.pk }}-{{ entry.pk }}" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="bottom-space">
            {% if entry.author %}{% trans 'Author' %}: {{ entry.author }}{% endif %}

            <div class="btn-group pull-right">
              {% if entry.is_new %}
              <a class="btn btn-default btn-xs mark-read-link removing-id-{{ entry.pk }}"
                 data-url="{% url 'rss_entry_mark_read' pk=entry.pk %}"
                 data-target=".removing-id-{{ entry.pk }}">
                {% trans 'Mark as read' %}
              </a>
              <a class="btn btn-default btn-xs mark-read-link" target="_blank"
                 data-url="{% url 'rss_entry_mark_read' pk=entry.pk %}"
                 data-target=".removing-id-{{ entry.pk }}"
                 href="{{ entry.link }}">
                  {% trans 'Fulltext' %}
              </a>
              {% else %}
              <a class="btn btn-default btn-xs" href="{{ entry.link }}" target="_blank">
                {% trans 'Fulltext' %}
              </a>
              {% endif %}
            </div>
          </div>

          {{ entry.description|safe }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>