{% extends 'base.html' %}
{% load i18n %}

{% block content %}

{% include 'rss_reader/rss_reader_edit_nav.html' %}

<div class="row">
  <div class="col-md-8">
    <div class="btn-group top-space">
      <a class="btn btn-success" href="{% url 'rss_reader_rsscategory_create_view' %}">
        <i class="fa fa-plus"></i> {% trans 'Add new Category' %}
      </a>
    </div>
  </div>
  {% include 'rss_reader/rss_reader_res_or_cat_nav.html' %}
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans 'Titel' %}</th>
            <th class='text-pull-right'>{% trans 'Actions' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
          <tr>
            <td>{{ object }}</td>
            <td class='text-pull-right'>
              <div class="btn-group">
                <a class="btn btn-default btn-sm"
                   href="{% url 'rss_reader_rsscategory_update_view' pk=object.pk %}">
                  <i class="fa fa-edit"></i> {% trans 'Edit' %}
                </a>
                <a class="btn btn-default btn-sm"
                   href="{% url 'rss_reader_rsscategory_delete_view' pk=object.pk %}">
                  <i class="fa fa-times"></i> {% trans 'Delete' %}
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}